{
  "AUTH_API_BASE_URL": "https://localhost:8091",
  "CONTENT_API_BASE_URL": "https://localhost:8091",
  "TICKETS_API_BASE_URL": "https://localhost:8091",
  "CONTENT_API_KEY": "",
  "OPENAI_API_KEY": "",
  "AGENDA_WEBHOOK_URL": "",
  "SCHEDULE_WEBHOOK_URL": "",
  "ENABLE_NETWORK_LOGS": false,
  "MAPS_API_KEY": ""
}
